<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>Title:</strong>
  <%# @tip.title %>
</p>

<p>
  <strong>Body:</strong>
  <%# @tip.body %>
</p>

<%# link_to 'Edit', edit_tip_path(@tip) %> |
-->
<%= link_to 'All Tips', tips_path %>


<hr>
<div class="w3-card-4 border:1px">

  <header class="w3-container w3-blue">
    <h1>
	<%= @RandomTip.title %>
    </h1>
  </header>

 <hr>

  <div class="w3-container">
    <h3>
	<%= @RandomTip.body %>
    </h3>
  </div>

  <footer class="w3-container w3-blue">
    <h5>OSS Tips by: LT Moore</h5>
  </footer>
</div>
